{% extends 'MesdOrcaseAppBundle:Index:index.html.twig' %}

{% block main %}
    <h1>Status creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('status') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock main %}
